---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { ModeToggle } from "@/components/ModeToggle";
---

<Layout title="Welcome to Astro.">
  <main>
    <p>hello p</p>
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      shadcn ui h1
    </h1>
    <h2
      class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
    >
      shadcn ui h2
    </h2>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <ModeToggle client:load />
  </main>
</Layout>

<style></style>
